inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
experimental_funs
.html
compadre*
tests/testthat/Rplots.*
tests/sim_tests/*.PNG
paper/ipmr_paper_outline.html
*.xlsx
paper/workshop-feedback.Rmd
bug_reports/*
paper/generics_progress.csv
paper/generic_progress.csv
profiling/*
tests/sim_tests/test-alternate-l_ev impl.R
